{{#each erros}}
    <div class="alert alert-danger">{{erros}}</div>
{{else}}
{{/each}}
<div class="jumbotron bg-light">
  <h1 class="display-4">Bem-vindo ao Fórum!</h1>
  <p class="lead">Bem vindo ao forum, isso é so um teste, podem aloprar!.</p>
  <hr class="my-4">
  <p>Forum mt massa pdcre.</p>
  {{#if user}}
  <a class="btn btn-success btn-lg" href="/user/posts/add" role="button">Criar publicação</a>
  {{else}}
  <a class="btn btn-primary btn-lg" href="/user/register" role="button">Cadastre-se</a>
  {{/if}}
</div>

<hr>

<h2>Postagens recentes: </h2>

{{#each postagens}}
    <div class="card mt-3">
        <div class="card-body">
             <h3>{{titulo}}</h3>
            <small><strong>Categoria: </strong>{{categoria.nome}} - </small>
            <small>{{data}}</small>
            <hr>
            <h5>{{descricao}}</h5>
            <a href="/post/{{slug}}"><input type="submit" value="leia mais..." class="btn btn-success"></a>
        </div>
    </div>
{{else}}
    <h3>Nenhuma postagem registrada</h3>
{{/each}}